.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #eeebeb !important;
}

.heroTextSection {
  width: 50%;
}

.heroHeading {
  color: #3d3d3d !important;
  font-family: "Kaisei Tokumin" !important;
  font-size: 60px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  margin-left: 15px !important;
}

.heroDescription {
  color: #3d3d3d !important;
  font-family: "Kaisei Tokumin" !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  margin-top: 20px !important;
  margin-left: 15px !important;
}

.searchSectionhero {
  width: 400px;
  height: 55px;
  flex-shrink: 0;
  background: white;
  margin-top: 30px !important;
  margin-left: 15px !important;
  color: black !important;
}

.isbnInput {
  color: black !important;
  font-family: "Kaisei Tokumin" !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  margin-top: 5px;
  margin-left: 10px;
}

.searchButton {
  width: 120px !important;
  height: 35px !important;
  flex-shrink: 0 !important;
  background: #fbab3b !important;
  margin-top: 5px !important;
  margin-left: 20px !important;
}

.carouselSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 15px !important;
}

.carousel {
  width: 150px; /* You can adjust the size based on your requirements */
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure images fit well */
}

.carouselButton {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
